<div style="text-align:center">
  <h1>
    SandBrix Electrical Appliance
  </h1>
</div>  

<!-- Implement code here for routerLink -->
<p>SandBrix Electrical Appliance is an Indian online appliance delivery service, started as a joint venture between SandBrix Retail
  and Cloud Platforms. SandBrix delivers appliance and hardware from nearby stores. 
  The platform was soft-launched in December 2019.
</p>
<a routerLink="/product">Click to Add Product</a>
<router-outlet></router-outlet>
<!-- Implement code here for router-outlet -->
  
